---
import Layout from '../layouts/Layout.astro';
import BlogCard from '../components/blog/BlogCard.astro';
import { getCollection } from 'astro:content';
import { getEntry } from 'astro:content';
import { formatDate } from 'src/utils/formatDate';

const posts = await getCollection('blog');
// 新しい順にソート（降順）
posts.sort((a, b) => new Date(b.data.createdAt).getTime() - new Date(a.data.createdAt).getTime());
---

<Layout title="Blog | Poporon Network" description="Poporon Networkのメンバーによるブログ">
  <div class="my-4 w-full md:max-w-5/6">
    <p class="my-8 font-sans text-xl font-bold md:text-2xl">ブログ</p>

    <div class="mx-auto grid grid-cols-1 gap-8 sm:grid-cols-2">
      {
        posts.map(async (post) => {
          const author = await getEntry(post.data.author);
          return (
            <BlogCard
              authorName={author.data.name}
              authorIconUrl={author.data.icon}
              createdAt={formatDate(post.data.createdAt)}
              coverImageUrl={post.data.cover}
              tags={post.data.tags}
              title={post.data.title}
              slug={post.id}
            />
          );
        })
      }
    </div>
  </div>
</Layout>
