---
import AutoBreak from '@components/AutoBreak.astro';
import { Icon } from 'astro-icon/components';

interface Props {
  image: string;
  title: string;
  subtitle: string;
  description: string;
  github?: string | Array<string>;
  siteLink?: string | Array<string>;
}

const { image, title, subtitle, description, github, siteLink } = Astro.props;
const githubLinks = typeof github === 'string' ? [github] : (github ?? []);
const siteLinks = typeof siteLink === 'string' ? [siteLink] : (siteLink ?? []);
---

<div
  class="flex flex-col justify-start gap-4 rounded-md border border-gray-300 px-6 py-4 sm:aspect-8/3 sm:h-64 sm:flex-row"
>
  <img src={image} class="w-70 self-center object-contain shadow" />
  <div class="flex flex-1 flex-col gap-2">
    <p class="text-2xl font-bold">{title}</p>
    <p class="text-xl"><AutoBreak text={subtitle} /></p>
    <p class="text-sm"><AutoBreak text={description} /></p>
    <div class="flex flex-col items-start pt-2 text-xs">
      {
        githubLinks.map((link) => (
          <a href={`https://github.com/${link}`} target="_blank">
            <Icon name="tabler:brand-github" class="inline-block" /> {link}
          </a>
        ))
      }
    </div>
    <div class="flex flex-col items-start pt-2 text-xs">
      {
        siteLinks && siteLinks.map((link) => (
          <a href={link} target="_blank">
            <Icon name="tabler:external-link" class="inline-block" /> {link}
          </a>
        ))
      }
    </div>
  </div>
</div>
