---
import BlogTag from '../home/BlogTag.astro';
interface Props {
  title: string;
  coverImageURL: string;
  authorName: string;
  authorIconURL: string;
  createdAt: string;
  tags: string[];
}

const { title, coverImageURL, authorName, authorIconURL, createdAt, tags } = Astro.props;
---

<div class="flex h-60 rounded-md font-sans">
  <img
    src={coverImageURL}
    loading="lazy"
    alt={title}
    class="m-auto ml-1 aspect-auto h-full rounded border border-gray-300 object-center"
  />

  <div class="m-auto ml-8 mr-2 flex h-full flex-col justify-around">
    <div class="flex flex-row items-center gap-2">
      <img src={authorIconURL} loading="lazy" alt={authorName} class="h-10 rounded-full border border-gray-300" />
      <p class="text-sm">{authorName}</p>
    </div>

    <div>
      <h2 class="text-xl underline">{title}</h2>
      <p class="text-sm">{createdAt}</p>
    </div>

    <div class="flex gap-2">
      {tags.map((v) => <BlogTag tag={v} />)}
    </div>
  </div>
</div>
